.album-wrapper {
  background: #ffffff;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  max-width: 33%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 991px) {
  .album-wrapper {
    max-width: calc(100% - 32px);
  }
}


.album-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.album-header--album-info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.album-header--title {
  font-size: 28px;
  line-height: 33px;
}

.album-header--subtitle {
  font-size: 22px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.45);
}

.album-tracks {
  padding: 16px 0;
}

.album-tracks--track {
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.65);
  width: 100%;
  text-align: left;
  padding: 8px;
}

.album-tracks .active {
  background: rgba(0, 0, 0, 0.25);
}
