@import url('https://cdn.skypack.dev/normalize.css@8.0.1');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
  background: #f4f4f4;
  font: 16px Roboto, sans-serif;
  line-height: 1.2em;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
